{
	"bot":{
	       "token":"NGA0MGAwOTc9NDQyMDc2Mjc9.XxQbXQ.YDp-Gy2tIEmnhFjbI9MUNIK096A",
	       "secret":"2t2fcGEp9R-BJjoo9NIsNEi3g2KK7N9k"
	      },
	      
	"config":{
		      "prefix":["h.", "h!"],
		      "database":{
		                  "url":"mongodb+srv://<usuario>:<senha>@harumi.mongodb.net/Harumi?retryWrites=true&w=majority",
		                  "name":"Harumi"
		                 }
	         }
}