{
	"bot":{
	       "token":"NzA0MzAwOTc4NDQyMDc2Mjc4.XxO08A.IMXgjUK7PMwRkqP5jWif7h7Le4g",
	       "secret":"t7xxwVrUH4_epoZ97s54mleDv9BMP370"
	      },
	      
	"config":{
		      "prefix":["h.", "h!"]
	         }
}