
/* Aiwa.css v0.0.1 | MIT License | https://github.com/yuka-tuka/aiwa */
/* bootstrap.css v4.3.1 | MIT License | https://github.com/twbs/bootstrap */
    body { 
          background-color: #303030
         }
    @font-face {
                font-family: 'discord';
                src: url('../font/discord.otf');
               }

    #font.discord{
                  font-size: 3.7em;
                  font-family: discord;
                  color:#fff;
                  }

/* =================== NAVBAR =================== */
    #letty.navbar-default .navbar-brand {
                                         color: rgba(255, 255, 255, 1);
                                        }
    #letty.navbar-default {
                           font-size: 15px;
                           background-color: rgba(33, 33, 33, 1);
                           border-width: 0px;
                           border-radius: 0px;
                          }
    #letty.navbar-default .navbar-nav>li>a {
                                            color: rgba(111, 111, 111, 1);
                                            background-color: rgba(33, 33, 33, 1);
                                            border-radius: 3px;
                                            margin-left: 7px;
                                           }                         

    #letty.navbar-default .navbar-nav>li>a:hover,
    #letty.navbar-default .navbar-nav>li>a:focus {
                                                  color: rgba(206, 206, 206, 1);
                                                  background-color: rgba(62, 62, 62, 1);
                                                 }

    #letty.navbar-default .navbar-nav>.active>a,
    #letty.navbar-default .navbar-nav>.active>a:hover,
    #letty.navbar-default .navbar-nav>.active>a:focus {
                                                       color: rgba(206, 206, 206, 1);
                                                       background-color: rgba(62, 62, 62, 1);
                                                      }
    #letty.navbar-default .dropdown-menu{  
                                         color: rgba(206, 206, 206, 1);
                                         background-color: rgba(62, 62, 62, 1);
                                         transition-duration: 0.5s
                                        }

    #letty.navbar-default .dropdown-item{
                                         color: rgba(206, 206, 206, 1);
                                         background-color: rgba(62, 62, 62, 1);
                                        }

    #letty.navbar-default .dropdown-item:focus,
    #letty.navbar-default .dropdown-item:hover {
                                                color: rgba(206, 206, 206, 1);
                                                background-color: rgba(33, 33, 33, 1);
                                               }
    
    #letty.navbar-default .navbar-icon-profile{
                                               width:30px;
                                               border-radius: 50%;
                                              }
    #letty.navbar-default .navbar-icon-user{
                                            width:25px;
                                            border-radius: 50%;
                                           }                                            
    #letty.btn-nav {
                    color: rgba(206, 206, 206, 1);
                    background-color: rgba(62, 62, 62, 1);
                    font-size: 15px;
                    border-radius: 4px;
                    border-width: 1px;
                   }

    #letty.btn-nav:hover {
                          background-color: rgba(206, 206, 206, 1);
                          color: rgba(62, 62, 62, 1);
                         }

    #letty.btn-nav:active, .btn-nav:focus {
                                           background: rgba(235, 235, 235, 1);
                                           color: rgba(33, 33, 33, 1);
                                          }                                              

    #letty.navbar-default .navbar-toggler-icon {
                                                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                                               }

    @media (max-width:768px) {
                              #letty.navbar-default .navbar-icon{
                                                                 margin-left: 7px;
                                                                }
                              #letty.navbar-default .btn-nav{
                                                             margin-top: 8px;
                                                             margin-left: 12px;
                                                             }
                              #letty.navbar-default .navbar-icon-user{
                                                                      margin-left: 8px;
                                                                     }     
                              #letty.navbar-default .navbar-nav{
                                                                margin-top: 8px;
                                                               }                                                                                                                        
                              #letty.navbar-default .nav-link{
                                                              margin-top: 5px;
                                                             }
                             }

/* =================== NAVBAR END =================== */

/* =================== JUMBOTRON =================== */
   
    #jumb.jumbotron{
                    background-color:#303030 !important;
                    color:#fff !important;
                    background-image:url('../img/cloud.svg');
                    background-position:50%,50%;
                    background-size:cover,cover;
                    background-repeat:repeat,repeat;
                   }

    #jumb.image{
                border: 4px solid #fff;
                padding: 5px;
                border-radius: 50%;
                width: 170px;
               
               }
    #jumb.btn-jumb{
                   color: rgba(206, 206, 206, 1);
                   background-color: rgba(62, 62, 62, 1);
                   font-size: 15px;
                   border-radius: 4px;
                   border-width: 1px;
                   }

    #jumb.btn-jumb:hover {
                          background-color: rgba(206, 206, 206, 1);
                          color: rgba(62, 62, 62, 1);
                         }

    #jumb.btn-jumb:active, .btn-jumb:focus {
                                             background: rgba(235, 235, 235, 1);
                                             color: rgba(33, 33, 33, 1);
                                            }                                              



/* =================== JUMBOTRON END =================== */

/* =================== COMMANDS =================== */

    .commands .bg {
                   background-image:url(https://cdn.discordapp.com/attachments/535165549655621632/632666318155415572/stars.svg);
                   background-repeat:repeat,repeat;
                   background-color:#303030;
                   overflow:hidden;                   
                  }

    .commands .card{
                    background-color: rgba(33, 33, 33, 1);
                    color: #CECECE;
                    border: 1;
                    border-color: #1A1A1A;
                    border-width: 1.4px;
                   }

    .commands .fa {
                   margin-right: 6px;
                  }
    
    .commands .fas {
                   margin-right: 6px;
                  }   
    
    .commands .menu {
                     padding: 7px;
                     border-radius: 5px;
                    }
    
    .commands .discord-svg {
                            width: 150px;
                            display: inline-block;
                            margin-left: 15%;
                           }    
    
    .commands .command {
                        margin-top: 5px;
                       } 
                          
    @media (max-width:768px) {
                              .commands .form-control {
                                                       margin-top: 17px;
                                                       margin-bottom: 20px;

                                                      }  

                              .commands .tab-content {
                                                       margin-top: -5px;
                                                      } 
                              .commands .command {
                                                  margin-top: 5px;
                                                 } 
                              .commands .discord {
                                                  margin-top: 17px;
                                                 }                   
                              .commands .discord-svg {
                                                      margin-left: 25%;
                                                     }    

                             }

    .commands .form-control {
                             background-color: rgba(33, 33, 33, 1);
                             color: #CECECE;
                             border: 1;
                             border-color: #1A1A1A;
                             border-width: 1.4px;
                            }    
    
    .commands .badge-dark {
                           background-color: #3E3E3E;
                           color: #CECECE;
                          }

    
    .commands .cmd-btn-list {
                             text-align: left;
                             color: #6F6F6F;
                             font-weight: 400;
                             border: 0;
                             padding: 0.50rem 0.75rem;
                             background-color: transparent;
                            }

    .commands .cmd-btn-list:hover {
                                   color: #CECECE;
                                  }

    .commands .cmd-btn-list-focus {
                                   background-color: #3E3E3E;
                                   color: #CECECE;
                                   border-radius: 5px;
                                  }

/* =================== COMMANDS END =================== */

/* =================== DISCORD =================== */

    .item-discord {
                   padding: 7px;
                   border-radius: 5px;
                   margin-left: 10px;
                   }
    .item-discord .discord-header > img {
                                         width: 70%;
                                        }
    .item-discord .discord-content #members-list {
                                                  display: flex;
                                                  flex-wrap: wrap;
                                                  max-height: 500px;
                                                  overflow-y: auto;
                                                  padding: 2px 0;
                                                 }
    .item-discord .discord-content #members-list .discord-more {
                                                                background-color: #3E3E3E;
                                                                font-family: inherit;
                                                                position: relative;
                                                               }
    .item-discord .discord-content #members-list .discord-more span  {
                                                                      position: absolute;
                                                                      line-height: 2rem;
                                                                      width: 2rem;
                                                                      text-align: center;
                                                                      color: #CECECE;
                                                                      font-size: 0.9rem;
                                                                     }
    .item-discord .discord-content #members-list .discord-profile-pic,
    .item-discord .discord-content #members-list .discord-more {
                                                                height: 2rem;
                                                                width: 2rem;
                                                                margin: 0 0.3rem 0.3rem 0;
                                                                background-position: 50% 50%;
                                                                background-repeat: no-repeat;
                                                                background-size: 100%;
                                                                border-radius: 50%;
                                                               }
    .item-discord .discord-content #members-list .discord-status {
                                                                  border: 1px solid #1A1A1A;
                                                                  border-radius: 50%;
                                                                  bottom: 4px;
                                                                  right: 4px;
                                                                  height: 10px;
                                                                  width: 10px;
                                                                  position: absolute;
                                                                  background-color: #43b581;
                                                                 }
    .item-discord .discord-content #members-list .discord-status.discord-status-dnd {
                                                                                     background-color: #f04747;
                                                                                    }
    .item-discord .discord-content #members-list .discord-status.discord-status-idle {
                                                                                      background-color: #faa61a;
                                                                                     }
    .item-discord .discord-footer a  {
                                      display: block;
                                      text-align: center;
                                      background-color: #7289da;
                                      padding: 0.5rem 0.7rem;
                                      border-radius: 0.3rem;
                                      color: #ffffff;
                                      text-decoration: none;
                                      font-family: inherit;
                                     }

    .wrapper {
              width: 190px;
             }
/* =================== DISCORD END =================== */
