      <nav id="letty" class="navbar navbar-expand-lg navbar-default">
       <div class='container'>
          <a class="navbar-brand" href="#">
              <img src="{{ url_for('static', filename='img/letty.png')}}" class="navbar-icon-user"> {{bot.user.name}} 
              <span class="badge badge-light"><b>BETA</b></span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {%if route == 'index' %}active{% endif%}">
                <a class="nav-link" href="/"><i class="fas fa-home navbar-icon"></i> {{lang("website|navbar|index")}}</a>
              </li>
              <li class="nav-item {%if route == 'cmds' %}active{% endif%}">
                <a class="nav-link" href="/commands"><i class="fas fa-terminal navbar-icon"></i> {{lang("website|navbar|cmds")}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-tools navbar-icon"></i> {{lang("website|navbar|staff")}}</a>
              </li>
              <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" id="dropdown-social" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-link navbar-icon"></i> {{lang("website|navbar|social")}}</a>
                   <div class="dropdown-menu" aria-labelledby="dropdown-social">
                      <a class="dropdown-item" href="/url/youtube" target="_blank"><i class="fab fa-youtube"></i> {{lang("website|navbar|yt")}}</a>
                      <a class="dropdown-item" href="/url/suport" target="_blank"><i class="fab fa-discord"></i> {{lang("website|navbar|discord")}}</a>
                      <a class="dropdown-item" href="/url/twitter" target="_blank"><i class="fab fa-twitter"></i> {{lang("website|navbar|tt")}}</a>
                      <a class="dropdown-item" href="/url/github" target="_blank"><i class="fab fa-github"></i> {{lang("website|navbar|gt")}}</a>
                   </div>
              </li>
            </ul>
            <form class="form-inline">
              {% if user == None %}
                <a href="/url/login" class="btn btn-sm btn-nav" id="letty"><i class="fas fa-sign-in-alt"></i>  {{lang("website|button|login")}}</a>
              {% else %}
              {% endif %}
              </form>
          </div>
       </div>
      </nav>