<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!--
       Copyright © 2019-2020 shiro.xyz. All rights reserved.
    -->
      <!-- META OTHER -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- META IMG -->
      <meta name="image" content="{{ url_for('static', filename='img/shiro.png')}}">
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/shiro.png')}}">

      <meta name="theme-color" content="#3A393A">
      <!-- META OG -->
      <meta property="og:image" content="{{ url_for('static', filename='img/shiro.png')}}">
      <meta property="og:site_name" content="Website da shiro">
      <meta property="og:type" content="website">
      <meta property="og:title" content="shiro">
      <meta property="og:url" content="https://www.shiro.xyz">
      <meta property="og:description" content="Um pequeno bot para o discord, que contém sistema de level, música, moderação, anime & muito mais!">
      <!-- META NAME -->
      <meta name="author" content="Yal Team">
      <meta name="title" content="shiro - simples & funcional.">
      <meta name="description" content="Um pequeno bot para o discord, que contém sistema de level, música, moderação, anime & muito mais!">
      <meta name="keywords" content="shiro discord, shiro,shiro dashboard, shiro website,shiro site,bot em português,bot para o discord,bot pra discord,bot para discord,bot dashboard,bot painel,bot moderação,bot moderation, bot traduzido, bot com musica, bot com música, música discord, musica no discord">
      <!-- META CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css')}}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      <!-- END LIST -->
      <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
      {% include 'navbar.html' %}  
      <div id="content">{% block content %}{% endblock %}</div>
    
    {% block js %}
    <!-- JAVASCRIPT -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <!-- END LIST -->
    {% endblock %}
</body>
</html>
