      {% extends "base.html" %}
      {% block title %}Shiro - Guilds{% endblock %}
      {% block head %}{{ super() }}{% endblock %}
      {% block content %}
      <!-- BOX --><br>

 
      <section class="commands">
          <div class="container bg">
              <div class="row">
                  <!---BOX [#1] -->

                  <div class="col-md-3">
                      <div class="card">
                          <h6 class="card-header">Categorias</h6>
                          <div id="list-modules" class="list-group menu">
                              <button class="cmd-btn-list cmd-btn-list-focus" id="command"><i class="fa fa-bars"></i> Todos os comandos</button>
                              {% for name, cog in bot.cogs.items() %}
                                {% if not name.lower() in modules %}
                                  <button class="cmd-btn-list" id="{{name.lower()}}"> <i class="{{translate('category')[name.lower()]['icon']}}"></i> {{translate('category')[name.lower()]['name']}}</button>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </div>
                  </div>
                  <!---BOX [#2] -->
                  <div class="col-md-6">
                      <input type="text" class="form-control" id="search-input" aria-describedby="basic-addon3" placeholder="{{translate('website.cmds.search')}}" />
                      <div class="tab-content" id="accordion">
                          {% for name, cog in bot.cogs.items() %}
                             {% for cmd in cog.get_commands() %}
                               {% if not name.lower() in modules %}
                               <div class="card command {{name.lower()}}">
                                  <div class="card-header" id="langs" data-toggle="collapse" data-target="#{{cmd.name.lower()}}" aria-expanded="true" aria-controls="{{cmd.name.lower()}}"><span class="badge badge-dark">{{cmd.name.lower()}}</span> - {{translate('help')[cmd.name.lower()]['description']}}</div>
                                  <div id="{{cmd.name.lower()}}" class="collapse" aria-labelledby="{{name.lower()}}s" data-parent="#accordion">
                                      <div class="card-body">
                                          <h6>{{translate('website.cmds.usage')}} : <span class="badge badge-dark">s.{{cmd.name.lower()}} {{translate('help')[cmd.name.lower()]['usage']}}</span></h6>
                                          <h6>{{translate('website.cmds.aliase')}} :{% for ali in cmd|aliases %} 
                                                               <span class="badge badge-dark">{{ali}}</span>
                                                              {% else %}
                                                               <span class="badge badge-dark">{{translate('website.cmds.not_defined')}}</span>
                                                              {% endfor %}
                                          <h6>{{translate('website.cmds.example')}} :{% for ali in cmd|examples(translate('help')[cmd.name.lower()]['example']) %} 
                                                               <span class="badge badge-dark">{{ali}}</span>
                                                              {% else %}
                                                               <span class="badge badge-dark">{{translate('website.cmds.not_defined')}}</span>
                                                              {% endfor %}
                                          <h6>{{translate('website.cmds.perm')}} :{% for ali in translate('help')[cmd.name.lower()]['perm']|permission(translate('permission')) %} 
                                                               <span class="badge badge-dark">{{ali}}</span>
                                                              {% else %}
                                                               <span class="badge badge-dark">{{translate('website.cmds.not_defined')}}</span>
                                                              {% endfor %}


                                          </h6>               
                                      </div>
                                  </div>
                               </div>
                              {% endif %}
                            {% endfor %}
                          {% endfor %}

                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="card discord">
                          <h6 class="card-header"><img class="discord-svg" src="{{ url_for('static', filename='img/discord.svg')}}" alt="Discord" /></h6>
                          <div class="item-discord">
                              <div class="discord-content">
                                  <div id="members-list"></div>
                              </div>
                              <div class="discord-footer">
                                  <a href="/login" class="btn btn-nav" id="nav"><i class="fas fa-plus"></i>{{translate('website.cmds.join')}}</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <div class="feedback" id='feed' data-toggle="tooltip" data-placement="right" title="" onclick="window.open('url','_blank')">
          <button type="button" class="btn btn-feedback btn-sm" id='feed'>
              <i class="fa fa-bug fa-2x" title="Reportar bug!"></i>
          </button>
      </div>

      <!-- END BOX -->
      {% endblock %}

